@* Copyright © 2021 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model WebApplication.Backend.ViewModels.Products.CreateOrEditViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
  this.ViewBag.Title = (this.Model.Id == null ? this.Localizer["Create Product"] : this.Localizer["Edit Product"]);
  this.ViewBag.ActiveMenuItem = "products";
}
<form class="form" method="post">
  <title-bar>
    <submit-button>@Localizer["Save"]</submit-button>
    <neutral-button href="/backend/products">@Localizer["Cancel"]</neutral-button>
  </title-bar>
  <drop-down-list-field for="CategoryId" options="@Model.CategoryOptions" />
  <single-line-text-field for="Code" />
  <multilingual-single-line-text-field for="Name" localizations="this.Model.NameLocalizations" />
  <multilingual-multiline-text-field for="Description" localizations="this.Model.DescriptionLocalizations" height="Small" />
  <decimal-field for="Price" />
</form>